Options +FollowSymlinks
RewriteEngine On

RewriteRule ^profile$ index.php?a=profile [L]
RewriteRule ^register$ index.php?a=register [L]
RewriteRule ^gallery/Recent/$ index.php?a=gallery&recent [L]
RewriteRule ^gallery/([-A-Za-z0-9]*)-([0-9]*)$ index.php?a=gallery&f=$1&z=$2 [L]
RewriteRule ^gallery/([-A-Za-z0-9]*)-([0-9]*)/$ index.php?a=gallery&f=$1&z=$2 [L]
RewriteRule ^gallery/([-A-Za-z0-9]*)-([0-9]*)\.html&min=([0-9]*)&num=([0-9]*)$ index.php?a=gallery&p=$2&title=$1&min=$3&num=$4 [L]
RewriteRule ^gallery/([-A-Za-z0-9]*)-([0-9]*)\.html&c=([0-9]*)$ index.php?a=gallery&p=$2&title=$1&c=$3 [L]
RewriteRule ^gallery/([-A-Za-z0-9]*)-([0-9]*)\.html$ index.php?a=gallery&p=$2&title=$1 [L]
RewriteRule ^downloads/([-A-Za-z0-9]*)-([0-9]*)/$ index.php?a=downloads&f=$1&z=$2 [L]
RewriteRule ^downloads/([-A-Za-z0-9]*)-([0-9]*)$ index.php?a=downloads&s=get&i=$2&title=$1 [L]
RewriteRule ^downloads/([-A-Za-z0-9]*)-([0-9]*)\.html&min=([0-9]*)&num=([0-9]*)$ index.php?a=downloads&p=$2&title=$1&min=$3&num=$4 [L]
RewriteRule ^downloads/([-A-Za-z0-9]*)-([0-9]*)\.html&c=([0-9]*)$ index.php?a=downloads&p=$2&title=$1&c=$3 [L]
RewriteRule ^downloads/([-A-Za-z0-9]*)-([0-9]*)\.html$ index.php?a=downloads&p=$2&title=$1 [L]
RewriteRule ^downloads/([-A-Za-z0-9]*)$ index.php?a=downloads&f=$1 [L]
RewriteRule ^category/([-A-Za-z0-9]*)/$ index.php?a=cat&cat=$1 [L]
RewriteRule ^archive/([-A-Za-z0-9]*)/$ index.php?a=blog&time=$1 [L]
RewriteRule ^([-A-Za-z0-9]*)-([0-9]*)\.html&min=([0-9]*)&num=([0-9]*)$ index.php?a=blog&p=$2&title=$1&min=$3&num=$4 [L]
RewriteRule ^([-A-Za-z0-9]*)-([0-9]*)\.html&c=([0-9]*)$ index.php?a=blog&p=$2&title=$1&c=$3 [L]
RewriteRule ^([-A-Za-z0-9]*)-([0-9]*)\.html$ index.php?a=blog&p=$2&title=$1 [L]
RewriteRule ^rss$ index.php?a=rss [L]
RewriteRule ^rss-gallery$ index.php?a=rss&type=gallery [L]
RewriteRule ^rss-downloads$ index.php?a=rss&type=downloads [L]
RewriteRule ^rss-comments$ index.php?a=rss&type=comments [L]
RewriteRule ^gallery$ index.php?a=gallery&f=Root [L]
RewriteRule ^downloads$ index.php?a=downloads&f=Root [L]
RewriteRule ^contact$ index.php?a=contact [L]
